

/* for durable detail page */

tr.durabledetail{
background-color: #eeeeee; 
}

td.durabledetail{
word-wrap: break-word; 
width: 25%;
}

table.durabledetail{
table-layout: fixed;
width: 100%;
border-top:1px solid #000;        
border-right:1px solid #000;      
border-bottom:1px solid #000;     
border-left:1px solid #000;
}


table.simplereport{
border-top:1px solid #000;        
border-right:1px solid #000;      
border-bottom:1px solid #000;     
border-left:1px solid #000;     
}

td.simplereport{
border: solid #000 1px;
}

